<div *ngIf="gamelist$ | async as games; else loading">
    <div class="row justify-content-center">
        <app-game-tile *ngFor="let gameInfo of games.slice(0, batch)" [gameInfo]="gameInfo" class="col-auto g-3 shadow gametile"></app-game-tile>
    </div>
  <div infinite-scroll [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>
</div>
<ng-template #loading>
    <div class="card" aria-hidden="true" style=" width: 18rem;">
        <img src="..." class="card-img-top placeholder" alt="...">
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
        </div>
    </div>
</ng-template>
