<div
  id="carouselExample"
  class="carousel slide h-100 d-flex align-items-center">
  <div class="carousel-inner">
    <div
      *ngFor="let screenshot of screenshots"
      [class]="
        screenshot.active
          ? 'ratio ratio-16x9 carousel-item active'
          : 'ratio ratio-16x9 carousel-item'
      ">
      <img [src]="screenshot.image" class="" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
