<form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
  <div>
    <label for="category" class="form-label">Category:</label>
    <input type="text" id="category"  [ngbTypeahead]="search" class="rounded-1 form-control" formControlName="category">
  </div>
  <div>
    <label for="platform" class="form-label">Platform:</label>
    <select class="form-select rounded-1" id="platform" formControlName="platform">
      <option value="">Select a platform</option>
      <option value="pc">PC (Windows)</option>
      <option value="browser">Web browser</option>
    </select>
  </div>
  <button type="submit" class="rounded-1 cyan btn btn-primary mt-3">Apply Filters</button>
</form>