<form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
    <button type="submit">Apply Filters</button>
    <div>
      <label for="category">Category:</label>
      <select id="category" formControlName="category">
        <option value="">Select a category</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        <!-- Add more options as needed -->
      </select>
    </div>
  
    <div>
      <label for="platform">Platform:</label>
      <select id="platform" formControlName="platform">
        <option value="">Select a platform</option>
        <option value="pc">PC (Windows)</option>
        <option value="browser">Web browser</option>
        <!-- Add more options as needed -->
      </select>
    </div>
  </form>