/* game-card.component.scss */

.game-tile-a {
  text-decoration: none;
}

.game-tile-a:hover {
  opacity: 0.8;
}

.card-text-custom {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 6rem;
}

.custom-card {
  border-radius: 0;
}

.card-img-custom {
  border-radius: 0;
}