<div>
    <a [routerLink]="'/game/' + gameInfo.id" class="game-tile-a">
        <div class="card" style="width: 18rem;">
            <img [src]="gameInfo.thumbnail" class="card-img-top" alt="...">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title">{{gameInfo.title}}</h5>
                        <p class="card-text  card-text-custom text-truncate">{{gameInfo.short_description}}</p>
                    </li>
                    <li class="list-group-item">
                        <span class="badge bg-secondary ms-1">{{gameInfo.genre}}</span>
                        <span class="badge bg-secondary ms-1">{{gameInfo.platform}}</span>
                    </li>
                </ul>
        </div>
    </a>
</div>