/* game-card.component.scss */

.game-tile-a {
  text-decoration: none;
}

.card-text-custom {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 6rem;
}

.custom-card {
  width: 18rem;
}

.card-body {
  background-color: #2F353B;
}