<div *ngIf="gameDetail$ | async as gameDetail; else loadingOrError">
  <div *ngIf="gameDetail">
    <div
      *ngIf="gameDetail.screenshots.length"
      class="bg-custom"
      [style.background-image]="'url(' + gameDetail.screenshots[0].image + ')'">
      <div class="c-grad"></div>
    </div>
    <div class="container mt-4">
      <h1 class="display-1 mb-4" data-cy="game-title">
        {{ gameDetail.title }}
      </h1>
      <img
        [src]="gameDetail.thumbnail"
        alt="Game Thumbnail"
        class="img-fluid shadow mb-3" />

      <p class="lead">{{ gameDetail.short_description }}</p>

      <ul>
        <li><strong>Status:</strong> {{ gameDetail.status }}</li>
        <li><strong>Genre:</strong> {{ gameDetail.genre }}</li>
        <li><strong>Platform:</strong> {{ gameDetail.platform }}</li>
        <li><strong>Publisher:</strong> {{ gameDetail.publisher }}</li>
        <li><strong>Developer:</strong> {{ gameDetail.developer }}</li>
        <li><strong>Release Date:</strong> {{ gameDetail.release_date }}</li>
      </ul>
      <a
        class="btn btn-primary bg-gradient custom-button-link me-3"
        [href]="gameDetail.game_url"
        target="_blank"
        role="button"
        >Official site</a
      >
      <a
        class="btn btn-secondary custom-button-link bg-gradient"
        target="_blank"
        [href]="gameDetail.freetogame_profile_url"
        role="button"
        >Details</a
      >
      <hr class="m-4" />
      <h4>About {{ gameDetail.title }}</h4>
      <p>{{ gameDetail.description }}</p>
      <hr class="m-4" />
      <h4>Screenshots:</h4>
      <div class="row">
        <div
          (click)="onImgClick(gameDetail.screenshots, screenshot.id)"
          class="col-auto mb-3 image-container"
          *ngFor="let screenshot of gameDetail.screenshots">
          <img
            [src]="screenshot.image"
            alt="Screenshot"
            class="img-thumbnail shadow p-0" />
        </div>
      </div>
      <!--images modal-->
      <div
        class="modal fade"
        data-show="true"
        #modal
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div
          class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen-sm-down">
          <div class="modal-content rounded-1 bg-gradient">
            <div class="modal-header p-2 px-3 border-0">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Screenshots
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body p-2">
              <app-screenshots-carousel
                *ngIf="screenshots"
                [screenshots]="screenshots" />
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="gameDetail.screenshots.length === 0">
        <p>No screenshots available for this game.</p>
      </div>
      <hr class="m-4" />
      <h4>Minimum System Requirements:</h4>
      <ul *ngIf="gameDetail.minimum_system_requirements; else noRequirements">
        <li>
          <strong>OS:</strong>
          {{ gameDetail.minimum_system_requirements.os || 'Not Available' }}
        </li>
        <li>
          <strong>Processor:</strong>
          {{
            gameDetail.minimum_system_requirements.processor || 'Not Available'
          }}
        </li>
        <li>
          <strong>Memory:</strong>
          {{ gameDetail.minimum_system_requirements.memory || 'Not Available' }}
        </li>
        <li>
          <strong>Graphics:</strong>
          {{
            gameDetail.minimum_system_requirements.graphics || 'Not Available'
          }}
        </li>
        <li>
          <strong>Storage:</strong>
          {{
            gameDetail.minimum_system_requirements.storage || 'Not Available'
          }}
        </li>
      </ul>
      <ng-template #noRequirements>
        <p>Not available</p>
      </ng-template>
      <hr class="m-4" />
    </div>
  </div>
</div>
<ng-template #loadingOrError>
  <div *ngIf="error$ | async as error; else loading">
    <div class="mt-5 text-center">
      <h1>404 - Game Not Found</h1>
    </div>
  </div>
</ng-template>
<ng-template #loading>
  <h1 class="text-center mt-5">Loading...</h1>
</ng-template>
