
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

//$card-border-color: white;
// Tokyo Night Color Palette
/* $body-bg-dark: #273549;


$theme-colors: map-merge($theme-colors, (
  "light":      #0b1c03,
  "dark":       #201500,
  "primary":    #aaf736,
  "secondary":  #c1e9ff,
  "info":       #8cbaf2,
  "success":    #18d881,
  "warning":    #f9b267,
  "danger":     #eb746f
));
 */
      
$theme-colors: map-merge($theme-colors, (
  "primary":     #245FD0,
));
 
@import 'node_modules/bootstrap/scss/bootstrap.scss';
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.custom-action-button {
  border-radius: 2px;
  background-image: linear-gradient(135deg, #245FD0, #4c7edb);
  background-size: 200% 200%; /* Increase the background size to make room for the transition */
  transition: background-position 0.4s ease; /* Add a transition effect to the background position */
  
}

.custom-action-button:hover {
  
  background-position: 100% 100%; /* Move the gradient position forward on hover */
}

.custom-action-input {
  border-radius: 2px;
  background: #2F353B;
}

.custom-action-input:focus {
  background: #2F353B;
}

